@mixin media($size) {
  @media (min-width: $size){
      @content;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
  }

@mixin typography($ff: false, $size: false, $colour: false,  $weight: false,  $lh: false) {
	@if $ff { font-family: $ff; }
	@if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
