// Using
//.div {
//   @include _1200 {
//       @content;
//   }
//}
@mixin _1200 {
    @media (min-width: 1200px){
        @content;
    }
}
@mixin _992 {
    @media (min-width: 992px){
        @content;
    }
}
@mixin _768 {
    @media (min-width: 768px){
        @content;
    }
}
@mixin _576 {
    @media (min-width: 576px){
        @content;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
  }

@mixin typography($ff: false, $size: false, $colour: false,  $weight: false,  $lh: false) {
	@if $ff { font-family: $ff; }
	@if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
