$font-size-mobile: 14px;
$font-size-base: 16px;
$line-height-base: 1.4;
$base-font-family:  'Montserrat', sans-serif;

//colors
$accent-color: #FF699F;
$base-text-color: #000;
$base-background-color: #fff;
