$base-font-sans-serif: 'Montserrat', sans-serif;
$base-font-serif: serif;

// Body
$base-text-color: #000!default;
$base-background-color: #fff !default;
$font-size-mobile: 14px;
$font-size-base: 16px;
$line-height-base: 1.4 !default;
$base-font-family:  $base-font-sans-serif;

$accent-color: #FF699F;

