.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 15px;

  background-color: #fff;

  @include _992 {
    position: static;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}
