.intro {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  &__content {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 11px;

    font-size: 36px;
    line-height: .93;

    span {
      display: block;
    }
  }

  &__subtitle {
    margin-bottom: 18px;
    font-weight: 500;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__btn {
    display: inline-block;
  }

  &__img {
    order: -1;
  }

  @include _992 {
    flex-direction: row;
    margin-top: 0;

    &__content {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      padding: 50px 50px 80px 0;
    }

    &__title {
      margin-bottom: 15px;

      font-size: 60px;
      line-height: 50px;
    }

    &__subtitle {
      margin-bottom: 20px;
      font-size: 20px;
    }

    &__img {
      order: 0;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
      
      object-fit: cover;
    }
  }
}
