.services {
  overflow-y: hidden;

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  &__item {
    width: 75vw;
    margin-right: 15px;
    height: auto;

    &:last-child {
      margin-right: 0;
    }
  }

  .slick-dots {
    position: static;

    li {
      height: 6px;
      width: 6px;
      margin: 0 2px;

      button {
        height: 6px;
        width: 6px;
        padding: 0;

        border-radius: 50%;
        border: 1px solid rgba(0,0,0, .1);

        &:before {
          display: none;
        }
      }

      &.slick-active button {
        background-color: $accent-color;
        border-color: $accent-color;
      }
    }
  }

  @include media(992px) {
    overflow-y: visible;

    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      max-width: calc((100% - 30px) / 3);
    }
  }
}
